# ENV
.env
*.env

# Dependencies
node_modules/
frontend/node_modules/
backend/node_modules/
backend/vendor/
vendor/
# Laravel
/storage/logs/
/bootstrap/cache/
/public/storage
/public/hot

# System
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
.phpactor.json
.phpunit.result.cache

# Build
/public/build

# Other
Homestead.json
Homestead.yaml
auth.json   